ggml-medium.bin
ffmpeg
whisper-cpp
whisper-ui
.DS_Store
whisper-ui.app/
ffmpeg
ffmpeg.zip
whisper.cpp/
.vscode/
whisper-ui-macos-arm64.zip
whisper-ui-macos-x86_64.zip
ffmpeg-*-essentials_build/
ffmpeg-win.zip
whisper-ui-windows64/
whisper-ui-windows64.zip
whisper-ui.exe
whisper-ui.tar.xz
whisper-ui.tar.gz
